{% load static %}

 <article class="answer-card mb-3 w-100" data-answer_id = "{{ item.id }}">
            <div class="row g-0">
              <div class="col-3 p-2">
                <div class="border mb-3" style="height: 100px; width: 100px">
                  <img
                    src="{{ item.author.avatar.url }}"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="input-group flex-nowrap" style="width: 100px">
	                <button type="button" class="btn btn-success answer-like-button" style="width: 100%">Like</button>
					<button type="button" class="btn btn-danger answer-dislike-button" style="width: 100%">Dislike</button>
                </div>
	              Likes:<span class="answer-like-counter">{{ item.rating }}</span>
              </div>
              <div class="col">
                <div class="card-body">
                  <p class="card-text">
	                  {{item.text}}
                  </p>
                  <div class="row">
                    <div class="form-check">
	                    {%  if request.user.profile == item.question.author %}
	                        {%  if item.correct %}
	                    <input class="form-check-input checkingAnswer" type="checkbox" value="" checked>
	                        {%  else %}
		                        <input class="form-check-input checkingAnswer" type="checkbox" value="">
	                        {% endif %}
	                    {% else %}
                            {%  if item.correct %}
	                            <input class="form-check-input" type="checkbox" value="" checked disabled>
                            {%  else %}
		                        <input class="form-check-input" type="checkbox" value="" disabled>
	                        {% endif %}
                        {% endif %}
	                    <label class="form-check-label">Correct</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>