{% extends "./layouts/base.html" %}
{% load static %}


{% block content %}
	    <div class="d-flex gap-3 align-items-center">
        <h1>New Question</h1>
      </div>
        <div class="col-8">
	       <div class="input-group mb-3">
                <span class="input-group-text">Title</span>
                <input type="text" class="form-control"
                       placeholder="Question"
                       aria-label="Username"
                       aria-describedby="basic-addon1">
			</div>
	        <div class="input-group mb-3">
                <span class="input-group-text">Text</span>
		        <textarea class="form-control" style="height: 300px"></textarea>
			</div>
	        <div class="input-group mb-3">
                <span class="input-group-text">Tags</span>
                <input type="text" class="form-control"
                       placeholder="Tags"
                       aria-label="Username"
                       aria-describedby="basic-addon1">
	        </div>
	        <button type="submit" class="btn btn-primary">ASK!</button>
        </div>
      {% endblock %}