{% extends "./layouts/base.html" %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}
		<div class="col-8">
				<div class="d-flex gap-3 align-items-center">
        <h2>Log In</h2>
	</div>
			<form method="post" action="">
				{% if errors %}
					<span style="color: red"> {{ errors }}</span>
				{% endif %}
			{% csrf_token %}
			  {% bootstrap_form form %}

			<button class="mb-4">Log In</button>
			<br>
			<a href='{% url "signup" %}'>create new account</a>
	</form>
	</div>
{% endblock %}
