{% extends "./layouts/base.html" %}
{% load static %}

{% block content %}
<div class="d-flex gap-3 align-items-center">
	<h1>Question {{item.title}}</h1>

</div>
        <div class="col-8">
          {% include "layouts/question_card.html" %}
	<hr>
	        <h5>Answers:</h5>
	        {% for answer in answers %}
         {% include "layouts/answer_card.html" with item=answer%}
		{% endfor %}
        {% include "layouts/pagination.html" with page_obj=answers%}

	        <hr>
	        <textarea style="height: 100px; width: 100%" placeholder="Input your answer here"></textarea>
	        <button>Answer</button>
        </div>
{% endblock %}