{% extends "./layouts/base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div class="d-flex gap-3 align-items-center">
	<h1>Question {{item.title}}</h1>

</div>
        <div class="col-8">
          {% include "layouts/question_card.html" %}
	<hr>
	        <h5>Answers:</h5>
	        {% for answer in answers %}
         {% include "layouts/answer_card.html" with item=answer%}
		{% endfor %}
        {% include "layouts/pagination.html" with page_obj=answers%}

	        <hr>
        <form method="post" action="">
	        {% csrf_token %}
	        {% bootstrap_form form %}
	        <button>Answer</button>
	        </form>
        </div>
{% endblock %}